@use "../global/index" as *;
@use "../util/index" as *;

// @include flexQueries(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

@media screen and (max-width: #{toEm(768px)}) {
	:root {
		--Header-padding: 2rem;
	}
	.main-header {
		.Container {
			--container-width: 90%;
		}
	}

	.the-game {
		.Container {
			--container-width: 90%;
			.game__hero {
				@include flexQueries(c, fs, c);
				.hero-items {
					--triangle-width: 42vw;
					--item-size: 25vw;
				}
				#game-result[aria-hidden="false"] {
					top: 40%;
				}
			}
			.b {
				.Button {
					width: 100%;
				}
				& :first-child {
					margin-right: 1rem;
				}
			}
		}
	}
	#bg-out-Of-Focus[aria-expanded="true"] {
		#rules {
			width: 90%;
		}
	}
}
@media screen and (max-width: #{toEm(425px)}) {
	:root {
		--Header-padding: 2rem;
	}
	.main-header {
		.Container {
			--container-width: 90%;
		}
		.main-header__Container {
			.main-header__Logo {
				max-width: 50%;
			}
			.score {
				max-width: 50%;
				&__button {
					padding: max(0.5em, 0.5rem) max(1em, 1rem);
				}
			}
		}
	}
}

/*For tablets */
@supports (overflow-x: clip) {
	html,
	body {
		overflow-x: clip;
	}
}

/* For people who have motion sickness. */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}
